@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
html {
  font-family: "Inter", sans-serif;
}

.coin {
  &-container {
    width: 100%;
    display: flex;
    font-family: "Inter", sans-serif;
  }

  &-left {
    width: 30%;
  }

  &-right {
    width: 70%;
  }

  &-name {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;

    img {
      margin-right: 10px;
    }
  }

  &-desc {
    font-size: 12px;
    font-weight: 500;
    color: #94a3b5;
  }

  &-price {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      margin: 0;
      margin-right: 10px;
    }
  }

  &-up {
    background: #16c784;
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
  }

  &-logo {
    background: #323546;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 600;
    color: #a1a7bb;
    border-radius: 4px;
    margin-left: 10px;
  }
}

.list-desc {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.desc-item {
  list-style-type: none;
  background: #323546;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 11px;
  color: #94a3b5;
  margin-right: 5px;
  font-weight: 500;
}

.market {
  border-top: 1px solid #323546;
  width: 100%;
  display: flex;
  padding-top: 20px;

  &__item {
    width: 25%;

    &:not(:last-child) {
      border-right: 1px solid #323546;
    }

    &:not(:first-child) {
      padding: 0 20px;
    }

    span {
      color: #16c784;
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__price {
    margin-top: 5px;
  }
}

.action {
  padding: 3px;
  background-color: #222531;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: max-content;
  border: 1px solid #323546;
  cursor: pointer;

  &-wrapper {
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding-top: 20px;
    border-top: 1px solid #323546;
  }

  &__btn {
    align-items: center;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    color: #58667e;
    cursor: pointer;
    justify-content: center;
    outline: 0px;
    width: auto;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    padding: 5px 10px;
    background: transparent;

    &.active {
      background: #323546;
    }
  }

  &__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.date {
  display: flex;
  background: #323546;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;

  &__btn {
    color: #a1a7ac;
    font-size: 12px;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 5px;
    padding: 5px 7px;

    &.active {
      background: #171924;
    }
  }
}

.info {
  padding: 20px;
  background: #222531;
  border-radius: 15px;
  width: 100%;
  margin-left: 20px;

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__list {
    padding: 0;
  }

  &__item {
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.block-in-page{
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #323546;
}